
:root{
--bg: #314673;
--l: #354C7A;
--l2: #3C5485;
--l3: #475F8F;
--l4: #4F6AA1;
--d: #304470;
--d2: #28385E;
--d3: #202E4A;
--d4: #162033;

--c: #B3B3B3;
--c2: #D6D6D6;
--c3: #EDEDED;
--c4: #FAFAFA;
--cR: #4D4D4D;
--c2R: #292929;
--c3R: #1A1A1A;
--c4R: #080808;
--red: #FFB399;
--red2: #FFC6B3;
--orange: #FFD68C;
--orange2: #FFDFA6;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #91D4F2;
--blue2: #99DFFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
