
:root{
--bg: #4C3866;
--l: #554070;
--l2: #594475;
--l3: #624C80;
--l4: #6D548C;
--d: #493761;
--d2: #45345C;
--d3: #302440;
--d4: #16111F;

--c: #BFBFBF;
--c2: #E6E6E6; 
--c3: #F2F2F2; 
--c4: #FFFFFF; 
--cR: #2B2B2B;
--c2R: #121212;
--c3R: #0A0A0A;
--c4R: #000;
--red: #FFB399;
--red2: #FFC6B3;
--orange: #FFD68C;
--orange2: #FFDFA6;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #91DDFF;
--blue2: #CAEEFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
