/* v.1.0.0 */

* { color-scheme: light; } /* view-source:about:blank, fixed blink */

html, body {margin:0; padding:0}
body{height:100%;overflow-y:scroll}
body, select, textarea, a, input, pre{
font-family: Helvetica,Arial,sans-serif;
font-size: 14px;
word-wrap:break-word; text-decoration:none;
}

iframe, video, audio, img, table{max-width:100%; border:0}
img{height:auto}

.footer{padding:20px 0}

.footer a, .footer { font-size:small }
.footer a { margin-right:5px }
.footer {min-height:20px}

.wrapper, .content{
min-width:100px;
min-height:100%;
max-width:700px;
margin:0 auto;
padding:0 15px
}
.content {padding-bottom:15px}

body{background:#f4f0e8; color:#464646}
a{ color:#7a7c7c; }
a:hover{ color:rgb(17, 17, 17); }
h1,h2,h3{color:#3e3e3e}

.footer a, .footer{ font-size: small; }
.ava {margin-top:20px; width:90px; border-radius:50%; border:#d1c787 3px solid; }
.center {width: 100%; text-align: center; }
.menu ul{ list-style-type:none; margin:0; padding:0;}
.menu li{ display:inline-block  }
@media all and (max-width:400px) {.menu li { margin-bottom:10px; }}
.menu li a {
color:#5e5e5e;
text-align:center;
display:inline;
padding:6px 10px;
text-decoration:none;
text-transform: uppercase;
}
.menu li a:hover{
color:black;
border-bottom:2px solid black;
}

li.active a{
  border-bottom:2px solid grey;
  color:#333232;
}

.logo {color:#333232; text-align:center}














