
:root{
--bg: #2D2D2E;
--l: #2F2F30;
--l2: #353536;
--l3: #3D3E40;
--l4: #494A4D;
--d: #2A2A2B;
--d2: #252526;
--d3: #000;
--d4: #000;

--c: #D4D4D4;
--c2: #EDEDED;
--c3: #fff;
--c4: #fff;
--cR: #4D4D4D;
--c2R: #292929;
--c3R: #000;
--c4R: #000;
--red: #E66C5C;
--red2: #FF7866;
--orange: #E6BE73;
--orange2: #FFD68C;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #8AC9E6;
--blue2: #99DFFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html{ scrollbar-color: var(--d2) var(--l4); }
::-webkit-scrollbar { background-color: var(--l3); }
::-webkit-scrollbar-thumb { background-color: var(--d2); }

/* fix */
.op, .op:hover, .op2, .op2:hover { opacity: 1; }
placaholder { color: var(--c); }

/*.shadow, .shadow3 { border: 1px solid var(--c);  box-shadow: none; }
.shadow2, .shadow4 { border: 3px solid var(--c);  box-shadow: none; }*/
.shadow { box-shadow: 0 1px 3px rgba(0,0,0,0.62), 0 1px 2px rgba(0,0,0,0.74); }
.shadow2 { box-shadow: 0 3px 5px rgba(0,0,0,0.62), 0 3px 4px rgba(0,0,0,0.74); }
.shadow3 { box-shadow: 0 0 3px rgba(0,0,0,0.62), 0 0 2px rgba(0,0,0,0.74); }
.shadow4 { box-shadow: 0 0 5px rgba(0,0,0,0.62), 0 0 4px rgba(0,0,0,0.74); }


