
:root{
--bg: #EDEAE1;
--l: #F0EDE6;
--l2: #F2F0EB;
--l3: #F7F7F5;
--l4: #FFFFFD;
--d: #E6E3DB;
--d2: #E0DDD5;
--d3: #D1CEC7;
--d4: #666561;

--c: #696969;
--c2: #404040;
--c3: #303030;
--c4: #0D0D0D;
--cR: #A6A6A6;
--c2R: #CCCCCC;
--c3R: #E6E6E6;
--c4R: #F2F2F2;
--red: #A1382B;
--red2: #CC4737;
--orange: #E68200;
--orange2: #FF9100;
--yellow: #A68D00;
--yellow2: #BFA300;
--green: #3B8026;
--green2: #47992C;
--blue: #177099;
--blue2: #1B83B3;
--indigo: #5B67E2;
--indigo2: #6370F5;
--violet: #9E377C;
--violet2: #B03D8A;
}

html{ scrollbar-color: var(--d3) var(--l2); }
::-webkit-scrollbar { background-color: var(--l2); }
::-webkit-scrollbar-thumb { background-color: var(--d3); }
