
:root{
--bg: #EBE8E4;
--l: #F0EEEB;
--l2: #F2F1F0;
--l3: #F7F6F5;
--l4: #FFFEFC;
--d: #E0DEDA;
--d2: #DBD9D5;
--d3: #C7BFB3;
--d4: #33312D;

--c: #595959;
--c2: #333333;
--c3: #1A1A1A;
--c4: #0D0D0D;
--cR: #A6A6A6;
--c2R: #CCCCCC;
--c3R: #E6E6E6;
--c4R: #F2F2F2;
--red: #943328;
--red2: #B33E30;
--orange: #D47900;
--orange2: #EB8600;
--yellow: #A88100;
--yellow2: #C29500;
--green: #29800C;
--green2: #31990F;
--blue: #1C88BA;
--blue2: #23A8E6;
--indigo: #5B67E2;
--indigo2: #6370F5;
--violet: #9E377C;
--violet2: #B03D8A;
}

html{ scrollbar-color: var(--d3) var(--l2); }
::-webkit-scrollbar { background-color: var(--l2); }
::-webkit-scrollbar-thumb { background-color: var(--d3); }
