
:root{
--bg: #EBE2D1;
--l: #F0E8D8;
--l2: #F5EEDF;
--l3: #FAF4E8;
--l4: #FFFBF2;
--d: #E0D8C7; 
--d2: #DBD3C3; 
--d3: #B8B1A4; 
--d4: #33312D;

--c: #696969;
--c2: #404040;
--c3: #303030;
--c4: #0D0D0D;
--cR: #969696;
--c2R: #BFBFBF;
--c3R: #CFCFCF;
--c4R: #F2F2F2;
--red: #A1382B;
--red2: #CC4737;
--orange: #E68200;
--orange2: #FF9100;
--yellow: #A68D00;
--yellow2: #BFA300;
--green: #3B8026;
--green2: #47992C;
--blue: #177099;
--blue2: #1B83B3;
--indigo: #5B67E2;
--indigo2: #6370F5;
--violet: #9E377C;
--violet2: #B03D8A;
}

html{ scrollbar-color: var(--d3) var(--l2); }
::-webkit-scrollbar { background-color: var(--l2); }
::-webkit-scrollbar-thumb { background-color: var(--d3); }
