
:root{
--bg: #732E63;
--l: #7A356A;
--l2: #853D74;
--l3: #8A4379;
--l4: #9E538D;
--d: #702E61;
--d2: #632D56;
--d3: #4A2140;
--d4: #330027;

--c: #D4D4D4;
--c2: #EDEDED; 
--c3: #F5F5F5; 
--c4: #FFFFFF; 
--cR: #2B2B2B;
--c2R: #121212;
--c3R: #0A0A0A;
--c4R: #000;
--red: #FFB399;
--red2: #FFC6B3;
--orange: #FFD68C;
--orange2: #FFDFA6;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #91DDFF;
--blue2: #CAEEFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
