
:root{
--bg: #595936;
--l: #5E5E3B;
--l2: #636341;
--l3: #70704A;
--l4: #808054;
--d: #545435;
--d2: #4F4F33;
--d3: #333321;
--d4: #1A1A10;

--c: #D4D4D4;
--c2: #EDEDED; 
--c3: #F5F5F5; 
--c4: #FFF; 
--cR: #2B2B2B;
--c2R: #121212;
--c3R: #0A0A0A;
--c4R: #000;
--red: #FFB399;
--red2: #FFC6B3;
--orange: #FFDB99;
--orange2: #FFE3B3;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #91DDFF;
--blue2: #CAEEFF;
--indigo: #D9DCFF;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
