/* Google programmable search CSS v.1.2.1 */

/*a.gs-title:link { color: #1155CC !important; }*/
a.gs-title:hover, a.gs-title:hover b { color: #337DFF !important; }
/*.gsc-search-button button {
border: 1px solid var(--d3);
background: var(--d3);
color: var(--c2);
border-radius: 9px;
color: red;
}

.gsc-search-button button:hover {
background: var(--d);
color: var(--c3);
border: 1px solid var(--d3);
}*/

.gsc-result-info-container {
max-width: 40%;
}

#resInfo-0.gsc-result-info { font-size: small; }

.gsc-orderby-container, .gsc-inline-block {
min-width: 60%;
}



.gs-web-image-box .gs-image {
max-width: 100% !important;
}


.gsc-control-cse {
border: 1px solid transparent !important;
padding: 0px !important;
}



.gsc-tabsArea {
border-bottom: 1px solid var(--d2) !important;
}

/*.gsc-control-cse .gsc-option-menu {

}*/

/*
.searchButtons {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 2px;
}

@media(max-width: 450px){
.searchButtons {
display: flex;
flex: 1 0 auto;
flex-wrap: wrap;
}

.searchButtons * {
display: inline-flex;
width: auto;
justify-content: center;
justify-content: center;
align-content: center;
text-wrap: balance;

flex: 1 0 auto;
flex-wrap: wrap;
}
}*/


/* Google programmable search CSS v.1.0.1 */
/* comment */

.gsc-table-cell-snippet-close {
margin: var(--margin2) 0 !important;
}

.gsc-control-cse {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gsc-search-button, .gsc-selected-option-container.gsc-inline-block {
min-width: 100%;
}

.gsc-control-cse,
.gsc-input-box {
border-radius: 9px;
}

.gsc-search-button button { border-radius: 9px; min-height: 54px; }
#gsc-iw-id1.gsc-input-box { max-height: min-height: 54px;padding: 0; }

a.gs-title:hover, a.gs-title:hover b { color: #337DFF !important; }


.gsc-result-info-container {
max-width: 40%;
}

#resInfo-0.gsc-result-info { font-size: small; }

.gsc-orderby-container, .gsc-inline-block {
min-width: 60%;
}


.gsc-control-cse {
background-color: var(--l2) !important;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gsc-orderby-label,
.gsc-result-info {
color: var(--c2) !important;
}

.gsc-above-wrapper-area {
border-bottom: var(--d2) !important;
}

.gs-result .gs-title * {
color: var(--blue) !important;
}
a.gs-title:hover, a.gs-title:hover b {
color: var(--blue2) !important;
}

.gs-promotion .gs-visibleUrl, .gs-webResult .gs-visibleUrl {
color: var(--green) !important;
}


.gs-webResult .gs-snippet, .gs-fileFormatType {
color: var(--c3) !important;
}

.gsc-webResult.gsc-result  {
border: .5px solid var(--d2) !important;
background: var(--l3) !important;
padding: var(--padding2) !important;
border-radius: var(--borderRadius2);
}

.gs-fileFormat {
color: var(--c) !important; 
}


.gs-web-image-box .gs-image {
max-width: 100% !important;
}

/*https://stackoverflow.com/questions/12892726/how-to-style-css-role#*/
.gsc-cursor-page[role=link],
.gsc-cursor-current-page {
color: var(--c3) !important;
padding: var(--padding2);
border: 1px solid var(--d);
background-color: var(--l3);
border-radius: var(--borderRadius2);
margin: 1px !important;
display: inline-block !important;
}

.gsc-cursor-page[role=link]:hover {
background-color: var(--l4);
}

.gsc-cursor-current-page {
color: var(--blue) !important;
}

.gcsc-find-more-on-google-magnifier,
.gcsc-find-more-on-google {
color: var(--blue) !important;
}

.gsc-results .gsc-cursor {
color: var(--c3) !important;
fill: var(--blue) !important;
}



.gsc-tabHeader.gsc-tabhActive {
color: var(--blue) !important;
}

.gsc-tabHeader.gsc-tabhInactive {
color: var(--c3) !important;
}

.gs-spelling {
color: var(--c3) !important;
}

.gs-spelling a {
color: var(--blue) !important;
}

/*.gcsc-branding-clickable {
background-color: var(--l2) !important;
}*/

.gcsc-more-maybe-branding-root {
margin-top: var(--margin2) !important;
}

.gsc-selected-option-container {
  background-color: var(--l) !important;
  background-image: linear-gradient(top, var(--l), var(--2)) !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: var(--c2) !important;
  cursor: default;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  max-width: 90%;
  min-width: 54px;
  outline: 0;
  padding: 0 28px 0 6px;
  position: relative;
  text-align: center;
}

.gsc-control-cse .gsc-option-menu {
  background: var(--l) !important;
  border: 1px solid var(--d) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: default;
  font-size: 13px;
  margin: 0;
  max-height: 360px;
  outline: none;
  padding: 6px 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 7;
}

.gsc-option-menu-item {
  color: var(--c) !important;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0 30px 0 30px;
  white-space: nowrap;
}

.gsc-option-menu-item-highlighted {
  background-color: var(--l3) !important;
  border-color: var(--d3) !important;
  border-width: 1px 0;
  color: var(--c4) !important;
}

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
  background-color: var(--l3) !important;
  border: 1px solid var(--d3) !important;
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.gsc-tabsArea {
display: grid;
grid-template-columns: 1fr 1fr;
}

.gsc-inline-block {
display: inline-block !important;
padding: var(--padding) !important; margin: 0 !important;
}

.gsc-tabHeader.gsc-tabhActive, .gsc-tabHeader.gsc-tabhInactive {
background-color: var(--l2) !important;
border-bottom: 3px solid var(--brand) !important;
color: var(--c3) !important;
}

.gsc-tabHeader.gsc-tabhInactive {
background-color: var(--l) !important;
border-bottom: 3px solid var(--d) !important;
color: var(--brand) !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
background-color: var(--l3) !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page:hover {
background-color: var(--l4) !important;
}

.gsc-tabsArea { margin: 0 !important; }
