/* Google programmable search CSS v.1.0.1 */
/* comment */

.gsc-control-cse {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gsc-search-button, .gsc-selected-option-container.gsc-inline-block {
min-width: 80px;
}

.gsc-control-cse,
.gsc-input-box {
border-radius: 9px;
}

.gsc-search-button button { border-radius: 9px; min-height: 54px; }
#gsc-iw-id1.gsc-input-box { max-height: min-height: 54px;padding: 0; }

/*a.gs-title:link { color: #1155CC !important; }*/
a.gs-title:hover, a.gs-title:hover b { color: #337DFF !important; }
/*.gsc-search-button button {
border: 1px solid var(--d3);
background: var(--d3);
color: var(--c2);
border-radius: 9px;
color: red;
}

.gsc-search-button button:hover {
background: var(--d);
color: var(--c3);
border: 1px solid var(--d3);
}*/

.gsc-result-info-container {
max-width: 40%;
}

#resInfo-0.gsc-result-info { font-size: small; }

.gsc-orderby-container, .gsc-inline-block {
min-width: 60%;
}



.gs-web-image-box .gs-image {
max-width: 100% !important;
}








/*
.searchButtons {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 2px;
}

@media(max-width: 450px){
.searchButtons {
display: flex;
flex: 1 0 auto;
flex-wrap: wrap;
}

.searchButtons * {
display: inline-flex;
width: auto;
justify-content: center;
justify-content: center;
align-content: center;
text-wrap: balance;

flex: 1 0 auto;
flex-wrap: wrap;
}
}*/


/* Google programmable search CSS v.1.0.1 */
/* comment */

.gsc-table-cell-snippet-close {
margin: var(--margin2) 0 !important;
}

.gsc-control-cse {
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.gsc-search-button, .gsc-selected-option-container.gsc-inline-block {
min-width: 80px;
}

.gsc-control-cse,
.gsc-input-box {
border-radius: 9px;
}

.gsc-search-button button { border-radius: 9px; min-height: 54px; }
#gsc-iw-id1.gsc-input-box { max-height: min-height: 54px;padding: 0; }

a.gs-title:hover, a.gs-title:hover b { color: #337DFF !important; }


.gsc-result-info-container {
max-width: 40%;
}

#resInfo-0.gsc-result-info { font-size: small; }

.gsc-orderby-container, .gsc-inline-block {
min-width: 60%;
}


.gsc-control-cse {
background-color: var(--l) !important;
border: 1px solid var(--d) !important;
}

.gsc-orderby-label,
.gsc-result-info {
color: var(--c3) !important;
}

.gsc-above-wrapper-area {
border-bottom: var(--d2) !important;
}

.gs-result .gs-title * {
color: var(--blue) !important;
}
a.gs-title:hover, a.gs-title:hover b {
color: var(--blue2) !important;
}

.gs-promotion .gs-visibleUrl, .gs-webResult .gs-visibleUrl {
color: var(--green) !important;
}


.gs-webResult .gs-snippet, .gs-fileFormatType {
color: var(--c3) !important;
}

.gsc-webResult.gsc-result  {
border: 1px solid var(--d3) !important;
background: var(--l2) !important;
padding: var(--padding) !important;
}

.gs-fileFormat {
color: var(--c) !important; 
}


.gs-web-image-box .gs-image {
max-width: 100% !important;
}

.gsc-cursor-page {
color: var(--c3) !important;
}

.gsc-cursor-current-page {
color: var(--blue) !important;
}

.gcsc-find-more-on-google-magnifier,
.gcsc-find-more-on-google {
color: var(--blue) !important;
}

.gsc-results .gsc-cursor {
color: var(--c3) !important;
fill: var(--blue) !important;
}


