/* 1.1.0 */

p, h1 { padding: 15px; margin: 0; }
.lBlock { margin-bottom: 40px;}


:nth-child(2n+2 of .lBlock h1), :nth-child(2n+1 of .lBlock p) {
background-color: #fff;
color: #000;
a { color: #000; }
}

:nth-child(2n+1 of .lBlock h1), :nth-child(2n+2 of .lBlock p) {
background-color: #383838;
color: #fff;
a { color: #fff; }
}














