
:root{
--bg: #582863;
--l: #602F6B;
--l2: #6C3978;
--l3: #794285;
--l4: #875691;
--d: #572861;
--d2: #4C2654;
--d3: #351B3B;
--d4: #1D0024;

--c: #CCCCCC;
--c2: #E6E6E6;
--c3: #F2F2F2;
--c4: #FFFFFF;
--cR: #2B2B2B;
--c2R: #121212;
--c3R: #0A0A0A;
--c4R: #000000;
--red: #FFB399;
--red2: #FFC6B3;
--orange: #FFD68C;
--orange2: #FFDFA6;
--yellow: #E6DAA1;
--yellow2: #F2E8B6;
--green: #9BD982;
--green2: #A4E689;
--blue: #8AC9E6;
--blue2: #99DFFF;
--indigo: #A9B0F2;
--indigo2: #CCD0FF;
--violet: #E2ACE6;
--violet2: #F1CDF2;
}

html{ scrollbar-color: var(--l4) var(--d2); }
::-webkit-scrollbar { background-color: var(--d2); }
::-webkit-scrollbar-thumb { background-color: var(--l3); }
