/* v.1.0.0 */

html, body {margin:0; padding:0}
body{height:100%;overflow-y:scroll}
body, select, textarea, a, input, pre{
font-family: Helvetica,Arial,sans-serif;
font-size: 14px;
word-wrap:break-word; text-decoration:none;
}

iframe, video, audio, img, table{max-width:100%; border:0}
img{height:auto}

.footer{padding:20px 0; min-height:20px; }

.footer a, .footer { font-size:small }
.footer a { margin-right:5px }

.wrapper, .content{
min-width:100px;
min-height:100%;
max-width:700px;
margin:0 auto;
padding:0 15px
}
.content {padding-bottom:15px}

body{background:#FFFEF7; color:#464646}
a{ color:#414242; }
a:hover{ color: #252525; }
h1,h2,h3{color:#3e3e3e}



.footer a, .footer{color:#7F7F7F }
.center {width: 100%; text-align: center; }


.logo { height: 34px; }
.logo { display: inline-block; vertical-align: middle;  }


nav { text-transform: capitalize; padding: 15px 0 10px 0; }
nav ul{display: inline-block;
list-style-type:none;
margin:0;
padding:0;
}

nav li a { color:#414141; }
nav li {
display: inline-block;
text-align:center;
padding: 7px;
text-decoration:none;
border-bottom: 2px solid transparent;
}

nav li a:hover { color:black; }
nav li:hover{ border-bottom:2px solid black; }

.active a { color: black; }
.active { border-bottom:2px solid grey; }
.logo { padding-right: 7px; }








