
:root{
--bg: #EBDBE3;
--l: #F0DFE7;
--l2: #F5E9EF;
--l3: #FAF0F5;
--l4: #FCF7FA;
--d: #E0D0D9;
--d2: #D1C2CA;
--d3: #C2B4BA;
--d4: #332F31;

--c: #696969;
--c2: #404040;
--c3: #303030;
--c4: #0D0D0D;
--cR: #969696;
--c2R: #BFBFBF;
--c3R: #CFCFCF;
--c4R: #F2F2F2;
--red: #A1382B;
--red2: #CC4737;
--orange: #BF6C00;
--orange2: #D97B00;
--yellow: #998200;
--yellow2: #A68D00;
--green: #3B8026;
--green2: #47992C;
--blue: #177099;
--blue2: #1B83B3;
--indigo: #5B67E2;
--indigo2: #6370F5;
--violet: #9E377C;
--violet2: #B03D8A;
}

html{ scrollbar-color: var(--d3) var(--l2); }
::-webkit-scrollbar { background-color: var(--l2); }
::-webkit-scrollbar-thumb { background-color: var(--d3); }
