

.result,  textarea, .stat {
margin: 0 auto;
/*font-size: 150% !important;*/
padding: 15px;
}
 /*.stat { font-size: 120% !important; }*/

.height{ min-height: 38px; }

.scroll {
/*overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;*/
max-height: 120px;
overflow-x: hidden;
overflow-y: auto;
}

.stat {
	text-align: right;
	min-width: 50%;
	
}

textarea {
border-top: 5px solid var(--d2);
}
