/* Noscript CSS v.3.0.0 */




/* Navigation CSS noscript part (CSS) v.1.1.0 */
/*https://stackoverflow.com/questions/5210033/using-only-css-show-div-on-hover-over-another-element#*/

.navMenu, .dropdownMenu {
display: none;
}

.topNav .dropdownMenuButton { display: inline; }

/* .dropdownMenuContent:hover .dropdownMenu{ display: block; } */
.dropdownMenuContent:hover {
.dropdownMenu { display: block; }
}
/* end Navigation CSS noscript part (CSS) */





@media (prefers-color-scheme: dark) {
.reduceLight { filter: brightness(70%); }
}


.noscriptHide { display: none !important; }






