/* v.1.0.0 */
/* comment */


.colorShow {
display: grid;
grid-template-columns: 40% 60%;
grid-gap: 2px;

min-height: 15px;

}

.colorShowItem,
.colorShowName {



background-color: var(--l2);
border-bottom: 1px solid var(--d3);
padding: var(--padding2);
}

.colorShowName {


display: inline-flex;





display: inline-flex;
justify-content: left;
align-items: center;
text-align: left;
max-width: 100%;
overflow-wrap: anywhere;
white-space: normal;
word-break: break-word;



font-size: medium;

background-color: var(--l2);

}
