/* v.1.0.3 */

#result {
font-size: 50px; font-weight: bold;
}

#result2 {
padding: 50px 0;
font-size: 120%;
font-weight: bold;
}

.lPrint3 {
display: grid;
grid-template-columns: repeat(3, 1fr); 
gap: 10px 20px;
}

@media(max-width: 385px) {
.lPrint3 { grid-template-columns: repeat(2, 1fr); }
#result { font-size: 24px; }
}
@media(max-width: 254px) {
.lPrint3 { grid-template-columns: repeat(1, 1fr); }
#result { font-size: 18px; }
}
